.pk-grid{
    display: grid;
    grid-gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(14%, 1fr));
}

.pk-grid .box{
    width: 250px;
    height: 350px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 1.9);
    display: grid;
    text-align: center;
    background-color: rgba(190, 0, 30, 1);
    border-radius: 19px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 0, 255, 1);
    border-color: hover rgba(0, 0, 255, 1);;
}

.pk-grid .box:hover{
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 1.9);
    background-color: rgb(50, 50, 212);
    border-radius: 19px;
    border-width: 4px;
    border-style: solid;
    border-color:rgba(0, 0, 255, 1);
}

.pk-grid .box:hover >a>div{
    max-width: 85%;
    display: flexbox;
    margin: auto;
    background-color: rgb(79, 86, 151);
    text-align: left;
    padding: 10px;
    border-radius: 19px;
    margin-bottom: 8px;
}

.pk-grid .box2 {
    max-width: 85%;
    display: flexbox;
    margin: auto;
    
    background-color: rgba(250, 90, 100, 1);
    text-align: left;
    padding: 10px;
    border-radius: 19px;
    margin-bottom: px;
}

.pk-grid .box img{
    width: 200px;
    display: flexbox;
    margin: auto;
}

pagination-controls{
    text-align: center;
}

.link {
    color: black;
    text-decoration: none;
}

