<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="0">
        <mat-nav-list class="nav-list">

            <span>
                <a>
                    <img class="logo"
                        src="https://www.pikpng.com/pngl/b/176-1765284_great-20-pokemon-png-logo-for-free-download.png"
                        alt=logo>
                </a>
            </span>

            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i> Início
            </a>

            <a mat-list-item routerLink="/listaPokemons">
                <i class="material-icons">
                    whatshot
                </i> Pokemons
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>